<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CodeHim">
    <title>Shopping Cart Example</title>
    
    <!-- Style CSS -->
    <link rel="stylesheet" href="/static/add.css">
	<!-- Demo CSS (No need to include it into your project) -->
	<link rel="stylesheet" href="demo.css">
  
  </head>
  <body>
     
    <section id="header">
        <div class="main">
            <div class="navbar">
                <div class="icon">
                    <h2 class="logo">FASHOINS</h2>
                </div>
                
                <div class="menu">
                    <ul>
                        <li>  <div id="menu-bar" class="fas fa-bars"></div> </li>
                        <li><a href="/home1">HOME</a></li>
                        <li><a href="/cart">SHOP</a></li>
                        <li><a href="#">ORDERS</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li> <h1><i class=" fa fa-shopping-cart"></i></h1> </li>
                      
                     
                    </ul>
                </div>
                
                <div class="search">
                    <input class="srch" type="search" name="" placeholder="Type to search">
                    <a href="/registertemp"><button class="btn">Search</button></a>
                    <a href="profile.html"><button class="reg" type='submit'>My account</button></a> 
                </div>

            </div>
        </section>
  
      
 <main>
     <!-- Start DEMO HTML (Use the following code into your project)-->
    <div class="container"> 
   
   <div id="alerts"></div>

<div class="productcont">
    
        
    <div class="product">
         <section id="product1" class="section-p1"> 
            <div class="pro-container">
                  <div class="pro">
                     <img src="/static/img/products/f1.jpg" alt="">
                      <div class="des">
                        <h3 class="productname">sunny</h3>
                        <span>adidas</span>
                          <h5>Cartoon Astronaut T-shirts</h5>
                           <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                           </div>
                          <p class="price">$900.05</p>
                         <button class="addtocart">Add To Cart</button>
                       </div>
                  </div>

                  <div class="pro">
                    <img src="/static/img/products/f2.jpg" alt="">
                     <div class="des">
                       <h3 class="productname">Jhony</h3>
                       <span>adidas</span>
                         <h5>Cartoon Astronaut T-shirts</h5>
                          <div class="star">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                          </div>
                         <p class="price">$900.05</p>
                        <button class="addtocart">Add To Cart</button>
                      </div>
                 </div>

                 <div class="pro">
                    <img src="/static/img/products/f3.jpg" alt="">
                     <div class="des">
                       <h3 class="productname">summer</h3>
                       <span>adidas</span>
                         <h5>Cartoon Astronaut T-shirts</h5>
                          <div class="star">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                          </div>
                         <p class="price">$900.05</p>
                        <button class="addtocart">Add To Cart</button>
                      </div>
                 </div>

                 <div class="pro">
                    <img src="/static/img/products/f4.jpg" alt="">
                     <div class="des">
                       <h3 class="productname">Dany</h3>
                       <span>adidas</span>
                         <h5>Cartoon Astronaut T-shirts</h5>
                          <div class="star">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                          </div>
                         <p class="price">$900.05</p>
                        <button class="addtocart">Add To Cart</button>
                      </div>
                 </div>

                 <div class="pro">
                    <img src="/static/img/products/f5.jpg" alt="">
                     <div class="des">
                       <h3 class="productname">Aegon</h3>
                       <span>adidas</span>
                         <h5>Cartoon Astronaut T-shirts</h5>
                          <div class="star">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                          </div>
                         <p class="price">$900.05</p>
                        <button class="addtocart">Add To Cart</button>
                      </div>
                 </div>

                 <div class="pro">
                    <img src="/static/img/products/f6.jpg" alt="">
                     <div class="des">
                       <h3 class="productname">Thomas</h3>
                       <span>adidas</span>
                         <h5>Cartoon Astronaut T-shirts</h5>
                          <div class="star">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                          </div>
                         <p class="price">$900.05</p>
                        <button class="addtocart">Add To Cart</button>
                      </div>
                 </div>

                 <div class="pro">
                    <img src="/static/img/products/f7.jpg" alt="">
                     <div class="des">
                       <h3 class="productname">vikram</h3>
                       <span>adidas</span>
                         <h5>Cartoon Astronaut T-shirts</h5>
                          <div class="star">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                          </div>
                         <p class="price">$900.05</p>
                        <button class="addtocart">Add To Cart</button>
                      </div>
                 </div>

                 <div class="pro">
                    <img src="/static/img/products/f8.jpg" alt="">
                     <div class="des">
                       <h3 class="productname">Thalapathy</h3>
                       <span>adidas</span>
                         <h5>Cartoon Astronaut T-shirts</h5>
                          <div class="star">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                          </div>
                         <p class="price">$900.05</p>
                        <button class="addtocart">Add To Cart</button>
                      </div>
                 </div>

                 <div class="pro">
                    <img src="/static/img/products/n1.jpg" alt="">
                     <div class="des">
                       <h3 class="productname">Thala</h3>
                       <span>adidas</span>
                         <h5>Cartoon Astronaut T-shirts</h5>
                          <div class="star">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                          </div>
                         <p class="price">$900.05</p>
                        <button class="addtocart">Add To Cart</button>
                      </div>
                 </div>

                 <div class="pro">
                    <img src="/static/img/products/n2.jpg" alt="">
                     <div class="des">
                       <h3 class="productname">Ragnar</h3>
                       <span>adidas</span>
                         <h5>Cartoon Astronaut T-shirts</h5>
                          <div class="star">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                          </div>
                         <p class="price">$900.05</p>
                        <button class="addtocart">Add To Cart</button>
                      </div>
                 </div>

                 <div class="pro">
                    <img src="/static/img/products/n3.jpg" alt="">
                     <div class="des">
                       <h3 class="productname">Wallter</h3>
                       <span>adidas</span>
                         <h5>Cartoon Astronaut T-shirts</h5>
                          <div class="star">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                          </div>
                         <p class="price">$900.05</p>
                        <button class="addtocart">Add To Cart</button>
                      </div>
                 </div>

                 <div class="pro">
                    <img src="/static/img/products/n4.jpg" alt="">
                     <div class="des">
                       <h3 class="productname">Hisenberg</h3>
                       <span>adidas</span>
                         <h5>Cartoon Astronaut T-shirts</h5>
                          <div class="star">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                          </div>
                         <p class="price">$900.05</p>
                        <button class="addtocart">Add To Cart</button>
                      </div>
                 </div>

                 <div class="pro">
                    <img src="/static/img/products/n5.jpg" alt="">
                     <div class="des">
                       <h3 class="productname">Mia</h3>
                       <span>adidas</span>
                         <h5>Cartoon Astronaut T-shirts</h5>
                          <div class="star">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                          </div>
                         <p class="price">$900.05</p>
                        <button class="addtocart">Add To Cart</button>
                      </div>
                 </div>

                 <div class="pro">
                    <img src="/static/img/products/n6.jpg" alt="">
                     <div class="des">
                       <h3 class="productname">Leah</h3>
                       <span>adidas</span>
                         <h5>Cartoon Astronaut T-shirts</h5>
                          <div class="star">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                          </div>
                         <p class="price">$900.05</p>
                        <button class="addtocart">Add To Cart</button>
                      </div>
                 </div>

                 <div class="pro">
                    <img src="/static/img/products/n7.jpg" alt="">
                     <div class="des">
                       <h3 class="productname">Jhon Snow</h3>
                       <span>adidas</span>
                         <h5>Cartoon Astronaut T-shirts</h5>
                          <div class="star">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                          </div>
                         <p class="price">$900.05</p>
                        <button class="addtocart">Add To Cart</button>
                      </div>
                 </div>

                 <div class="pro">
                    <img src="/static/img/products/n8.jpg" alt="">
                     <div class="des">
                       <h3 class="productname">Deamend</h3>
                       <span>adidas</span>
                         <h5>Cartoon Astronaut T-shirts</h5>
                          <div class="star">
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                           <i class="fas fa-star"></i>
                          </div>
                         <p class="price">$900.05</p>
                        <button class="addtocart">Add To Cart</button>
                      </div>
                 </div>

             </div>
        </section>
    </div>    
</div>        
    
        <div class="cart-container">
          <h2>Cart</h2>
          <table>
            <thead>
              <tr>
              <th><strong>Product</strong></th>
              <th><strong>Price</strong></th>
            </tr>
            </thead>
            <tbody id="carttable">
            </tbody>
          </table>
          <hr>
          <table id="carttotals">
            <tr>
              <td><strong>Items</strong></td>
              <td><strong>Total</strong></td>
            </tr>
            <tr>
              <td>x <span id="itemsquantity">0</span></td>
             
              <td>$<span id="total">0</span></td>
            </tr></table>

            
          <div class="cart-buttons">  
            <button id="emptycart">Empty Cart</button>
            <A href="/pay">
            <button id="checkout">BUY NOW</button></a> 
          </div>
        </div>

<!-- partial -->

     <!-- END EDMO HTML (Happy Coding!)-->
 </main>
 
 <div class="foot">

  <h1> ABOUT US </h1>
   <p>We are maximisers. We're out on our own journeys to maximise - <br>
    be the best at what we choose and care about the most - whether it be <br>
    our impact, voice, potential, ideas, influence, well-being or more. <br>
    Because when we maximise ourselves in our inclusive teams,our site <br>
     is able to deliver the best imaginable value for our customers, <br>
     stakeholders and the planet!</p>

<footer>
  <h1>Contact</h1>
  <ul>
     <li>Phone : +919876543214</li><br>
     <li>Email : Fashion@gmail.com</li>
     <li>Address     :N0:6 , Vivekananthar theru,<br>  Dubai kurukkusanthu,<br>Dubai main road ,<br> Dubai </li><br>
  </ul>
    

</footer>
</div>

  <footer></footer>

        <script>
            /* get cart total from session on load */
updateCartTotal();

/* button event listeners */
document.getElementById("emptycart").addEventListener("click", emptyCart);
var btns = document.getElementsByClassName('addtocart');
for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener('click', function() {addToCart(this);});
}

/* ADD TO CART functions */

function addToCart(elem) {
    //init
    var sibs = [];
    var getprice;
    var getproductName;
    var cart = [];
     var stringCart;
    //cycles siblings for product info near the add button
    while(elem = elem.previousSibling) {
        if (elem.nodeType === 3) continue; // text node
        if(elem.className == "price"){
            getprice = elem.innerText;
        }
        if (elem.className == "productname") {
            getproductName = elem.innerText;
        }
        sibs.push(elem);
    }
    //create product object
    var product = {
        productname : getproductName,
        price : getprice
    };
    //convert product data to JSON for storage
    var stringProduct = JSON.stringify(product);
    /*send product data to session storage */
    
    if(!sessionStorage.getItem('cart')){
        //append product JSON object to cart array
        cart.push(stringProduct);
        //cart to JSON
        stringCart = JSON.stringify(cart);
        //create session storage cart item
        sessionStorage.setItem('cart', stringCart);
        addedToCart(getproductName);
        updateCartTotal();
    }
    else {
        //get existing cart data from storage and convert back into array
       cart = JSON.parse(sessionStorage.getItem('cart'));
        //append new product JSON object
        cart.push(stringProduct);
        //cart back to JSON
        stringCart = JSON.stringify(cart);
        //overwrite cart data in sessionstorage 
        sessionStorage.setItem('cart', stringCart);
        addedToCart(getproductName);
        updateCartTotal();
    }
}
/* Calculate Cart Total */
function updateCartTotal(){
    //init
    var total = 0;
    var price = 0;
    var items = 0;
    var productname = "";
    var carttable = "";
    if(sessionStorage.getItem('cart')) {
        //get cart data & parse to array
        var cart = JSON.parse(sessionStorage.getItem('cart'));
        //get no of items in cart 
        items = cart.length;
        //loop over cart array
        for (var i = 0; i < items; i++){
            //convert each JSON product in array back into object
            var x = JSON.parse(cart[i]);
            //get property value of price
            price = parseFloat(x.price.split('$')[1]);
            productname = x.productname;
            //add price to total
            carttable += "<tr><td>" + productname + "</td><td>$" + price.toFixed(2) + "</td></tr>";
            total += price;
        }
        
    }
    //update total on website HTML
    document.getElementById("total").innerHTML = total.toFixed(2);
    //insert saved products to cart table
    document.getElementById("carttable").innerHTML = carttable;
    //update items in cart on website HTML
    document.getElementById("itemsquantity").innerHTML = items;
}
//user feedback on successful add
function addedToCart(pname) {
  var message = pname + " was added to the cart";
  var alerts = document.getElementById("alerts");
  alerts.innerHTML = message;
  if(!alerts.classList.contains("message")){
     alerts.classList.add("message");
  }
}
/* User Manually empty cart */
function emptyCart() {
    //remove cart session storage object & refresh cart totals
    if(sessionStorage.getItem('cart')){
        sessionStorage.removeItem('cart');
        updateCartTotal();
      //clear message and remove class style
      var alerts = document.getElementById("alerts");
      alerts.innerHTML = "";
      if(alerts.classList.contains("message")){
          alerts.classList.remove("message");
      }
    }
}
        </script> 
  </body>
</html>
