<!DOCTYPE html>
<html>
<head>
    <title> FASHION </title>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <link  rel="stylesheet"   href="/static/style.css">

    <script>
      window.watsonAssistantChatOptions = {
        integrationID: "aaaf7abf-17ba-428c-9a28-5efeac60506d", // The ID of this integration.
        region: "au-syd", // The region your integration is hosted in.
        serviceInstanceID: "76aac77a-9dd4-4f60-b169-6fecece3d4b1", // The ID of your service instance.
        onLoad: function(instance) { instance.render(); }
      };
      setTimeout(function(){
        const t=document.createElement('script');
        t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
        document.head.appendChild(t);
      });
    </script>
    
</head>

    
<body>
   <section id="header">
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">FASHOINS</h2>
            </div>
            
            <div class="menu">
                <ul>
                    <li>  <div id="menu-bar" class="fas fa-bars"></div> </li>
                    <li><a href="/home1">HOME</a></li>
                    <li><a href="/cart">SHOP</a></li>
                    <li><a href="#">ORDERS</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li> <h1><a href="/add"><i class=" fa fa-shopping-cart"></i></a></h1> </li>

                  
                 
                </ul>
            </div>
            
            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type to search">
                <a href="/registertemp"><button class="btn">Search</button></a>
                <a href="/profile"><button class="reg" type='submit'>My account</button></a> 
            </div>

        </div>
    </section>
   <section id="prodetails" class="section-p1">
     <div class="single-pro-image">
        <img src="/static/img/products/n4.jpg" width="100%" id="MainImg" alt="">

    <div class="small-img-group">
        <div class="small-img-col">
            <img src="/static/img/products/f1.jpg" width="100%" id="small-Img" alt="">
        </div>
         <div class="small-img-col">
            <img src="/static/img/products/f2.jpg" width="100%"   class="small-img"    alt="">
        </div>
        <div class="small-img-col">
           <img src="/static/img/products/f3.jpg" width="100%"   class="small-img"    alt="">
        </div>
         <div class="small-img-col">
            <img src="/static/img/products/f4.jpg" width="100%"   class="small-img"    alt="">
         </div>
    </div>
   </div>

    <div class="single-pro-details">
        <h6> Home/shirt</h6>
        <h4>MEN FASHION SHIRT</h4>
        <h2>RS.200 </h2>
        <select>
            <option>Select size</option>
            <option>S</option>
            <option>M</option>
            <option>L</option>
            <option>XL</option>
            <option>XXL</option>
        </select>
        <input type="number" value="1">
        
        <a href="/pay">
        <button class="buy">BUY NOW</button></a>
    </div>
   </section>


   <section id="product1" class="section-p1">
    <h2>Recommended Product</h2>
    <p> New Morden Design</p>
    <div class="pro-container">
      <div class="pro">
       <img src="img/products/n1.jpg" alt="">
       <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>RS 78</h4>
       </div>
       <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>
      <div class="pro">
       <img src="img/products/n2.jpg" alt="">
       <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>RS 78</h4>
       </div>
       <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>
      <div class="pro">
       <img src="img/products/n3.jpg" alt="">
       <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>RS 78</h4>
       </div>
       <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>
      <div class="pro">
       <img src="img/products/n4.jpg" alt="">
       <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>RS 78</h4>
       </div>
       <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
      </div>
      
    </div>
  </section>
  
  <script>
    var MainImg = document.getElementById("MainImg");
    var smallimg = document.getElementsByClassName("small-img");
    
    smallimg[0].onclick =function(){
        MainImg.src = smallimg[0].src;
    }
    smallimg[1].onclick =function(){
        MainImg.src = smallimg[1].src;
    }
    smallimg[2].onclick =function(){
        MainImg.src = smallimg[2].src;
    }
    smallimg[3].onclick =function(){
        MainImg.src = smallimg[3].src;
    }
  </script>

      
        <script src="script.js" ></script>
   
    </body>
  </html>

    <!-- products section starts  -->

